/* CSS RESET */
 
* {
    padding: 0;
    margin:0;
}


/* NAVBAR */

#navbar {
    height: 117px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

#logo_container {
    width: 50px;
    }

.navbar_logo{
    width:100%;
    object-fit:cover;
   
}


input[type="text"] {
    padding: 10px;
    border: 1px solid #a5597d;
    border-radius: 1px;
    width: 450px;
    margin: 5px;
}


/* Estilos para o botão de pesquisa */
button {
    padding: 20px 0px;
    background-color: #ffffff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.navitem {
    padding-right: 33px;
    
}

a.navitem {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}

/* HERO */

#hero {
    width:100%;
    padding-bottom: 10px;
   }

.hero_barra{
    object-fit : cover;
    width:100%;
    max-height: 40px;
    min-height: 30px;
}

#texto {
    position: absolute;
    font-size: 15px;
    color: #000;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    left: 350px;
    top: 118px;
}

#texto2 {
    position: absolute;
    font-size: 15px;
    color: #000;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    left: 550px;
    top: 118px;
}

#texto3 {
    position: absolute;
    font-size: 15px;
    color: #000;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    left: 750px;
    top: 118px;
}

#texto4 {
    position: absolute;
    font-size: 15px;
    color: #000;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    left: 950px;
    top: 118px;
}

#texto5 {
    position: absolute;
    font-size: 15px;
    color: #000;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    left: 1150px;
    top: 118px;
}

#texto6 {
    position: absolute;
    font-size: 15px;
    color: #000;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    left: 1350px;
    top: 118px;
}


.hero_banner{
    object-fit : cover;
    width:100%;
    max-height: 1000px;
    min-height: 200px;
    
}



/* Products */

.products_container {
    padding: 70px 100px;
    
   
}

.main_title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:25px;
    padding-bottom: 100px;
    margin-top: 0px;
    text-align:center;
    position:sticky;
    color: #383737;

}

.title_category {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.2em;
    padding-bottom: 100px;
    margin-top: 0px;
    text-align:center;
    position: relative;

}


.product_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 50px;

}

.products_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 50px;
    width: 100%; 
    box-sizing: border-box; 
}

.product_card {
    width: calc(20% - 35px); 
    height: 350px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 1px;
    box-sizing: border-box; 
    margin-bottom: 40px; 
    text-align: center;
}


.product_image {
    width: 50%;
    height: 80%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.title_price p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    color: #000;

}

.title_price h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #000;
    
}


  .product_card {
    transition: transform 0.3s ease; 
  }
  
  .product_card:hover {
    transform: scale(1.1);
    color: #000;
  }

/* Promo */

#promo {
    display: flex;
    padding: 55px 117px;
}


/* FOOTER */

/*.footer_container{
    padding: 80px 72px 31px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;

}



.social_container {
    padding-top: -25px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    
}

.social_container i {
    margin: 0 5px;
}

.footer-container-2{
    display: flex;
    justify-content: space-between;
}*/
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #995474;
    padding: 40px 100px;
}
.footer-col{
   width: 22%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: rgb(165, 42, 99);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #cccccc;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links2 a{
    font-size: 22px;
    margin-left: 20px;
    transition: 0.5s ease;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 247, 247);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color:#692222 ;
    transition: all 0.5s ease;
}
.footer-col .social-links2 a:hover{
    color: brown;
    background-color: #ffffff;
}
 
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
 
/*--FIM FOOTER--*/

/* PRODUCT PAGE */

.img_product_container {
    padding: 60px 42px;
    display: flex;
    max-width: 1440px;
    justify-content:center;
    column-gap: 40px;
}

.product_info_image, .product_info {
    width: 500px;
    padding: 20px;
}

.product_info_image img {
    width: 100%;
    object-fit: cover;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 1px;
}

.product_info h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    padding-bottom: 20px;
}

.product_info span {
    display:block;
    font-size: 24px;
    padding-bottom: 20px;

    
}

.title_cart {
    padding: 20px;
    margin-top: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.product1_cart {
    width: 90px;
    float: left;
    margin-right: 10px;
}

  .product_detail_container button {
    background-color: #a5597c83;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .product_detail_container button:hover {
    background-color: #a5597cc0;
    
  }

.product_info input, .cart_item_container input {
        width: 50px;
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 1px;
        /* text-align: center; */
        padding-left: 10px;
        margin-bottom: 50px;
        margin-right:20px;
    }
    
    .product_info button, .btn_area button {
        padding: 10px 20px;
        border-radius: 1px;
        font-size: 20px;
        text-transform: uppercase;
        color:#fff;
        background-color: #A5597D;

    }

    .product_info p {
        font-family: 'Inter', sans-serif;
        font-size:15px;
        line-height: 24px;

    }

    .btn_area {
        display: flex;
        justify-content: flex-end;
        padding: 15px 0;
    
    }

    .btn_area button:first-child {
        margin-right: 20px;
        background-color: #a5597d;
        color: #fff;
    }

    .cart_container {
        padding: 80px 72px;
        margin-bottom: 50px;
    }

    .cart_container h2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .cart_item {
        display:flex;
        gap: 20px;
        padding:10px 0;
        border: 1px solid black;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    }

    #cart_img{
        width: 50px;
        height: 45px;
    }

    .cart_item p, .cart_item span, .qtd_price_area span{
        font-size: 20px;
        font-family: "Inter", sans-serif;
        left: 45px;
    }


    .cart_item_container {
        display:flex;
        align-items: center;
    }

    .cart_item_container input{
        margin:0px;
    }

    .cart_item_container input, .cart_item_container span, .qtd_price_area span{
        margin-right:30px;
    }

    .qtd_price_area {
        text-align: right;
        padding: 30px 0;
        border-top: 1px solid;
    }

    .qtd_price_area span{
        margin-right:54px;
    }

    #address_form {
        margin: 0 auto;
        width: 800px;
        display:flex;
        flex-direction: column;
        justify-content:center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }


    .about_us {
        padding: 10px 72px;
        
    }

    .about_us h1{
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        color: #7f4886;
        text-align:center;
        padding-bottom: 50px;

    }

    .about_us h2 {
        font-family: 'Times New Roman', Times, serif;
        color: #7f4886;
        font-size: 32px;
    }

    .about_us .mission {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        padding-bottom: 20px;
        text-align: center;
        text-align: center;
        line-height: 2.0;
    }

    .about_us .vision {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        padding-bottom: 20px;
        text-align: center;
        line-height: 2.0;
        margin: 0px 0px 0px;
       

    }

    .about_us .values {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        padding-bottom: 20px;
        text-align: center;
        text-align: center;
        line-height: 2.0;

    }

    

    .mission_text, .vision_text, .values_text{
        visibility: hidden;
    }

    .img_contacts {
        width: 25%;
        margin: 105px 180px;
        height: 10vh;
        align-items: center;
        left: 800px;
        margin-left: 720px;
        
    }


    .contact_us {
        display:flex;
        padding: 10px 72px;
        justify-content: center;
        align-items: center; 
        text-align: center;
        column-gap: 60px;
    
    }


           
    .contact_us h2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .contact_us p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .contact_us button {
        color: #A5597D;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #contact_us {
            display: flex;
            flex-direction:column;

    }

   .dados_admin{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
   }
    

   .slider {
    margin: 0 auto; 
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 450px;
    display: flex;
}
.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #FFF; 
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div {
    border: 2px solid #FFF;
    padding: 5px; 
    border-radius: 10px;
    cursor: pointer; 
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 410px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #FFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #FFF;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #FFF;
}